body {
    font-family: $primary-font;
    color: $primary-color;
    text-align: center;
}

.wrapper {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.title {
    font-size: 34px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 8.95px;    
    padding-top: 120px;
}

.paragraph {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;    
    margin-top: 40px;
    padding: 0 20px;
}

.line {
    width: 45px;
    height: 4px;
    background-color: #dddbdb;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.br-on-mobile {
    display: none;
}