.client {    
    height: 560px;
    background-color: royalblue;
    @media (max-width: $small) {
        margin-top: 20px;
        height: 800px;
    }
    @media (max-width: $large) {
        padding-bottom: 40px;
    }        
    &__icons {
        margin-top: 120px;
        display: flex;                
        justify-content: space-around;
        align-items: center; 
        flex-wrap: wrap;
        @media (max-width: $small) {
            margin-top: 80px;            
            justify-content: center;
        }        
        &__icon {
            margin: 20px;            
            @media (max-width: $small) {
                flex-basis: 100%;                
            }
            img {              
                    display: block;
                    margin: 0 auto;                
            }
        }
    }
}


