::placeholder {
    color: #adb2b7;
}

.contact {
    height: 735px;
    background-color: $secondary-color;
    @media (max-width: $small) {
        height: 1050px;
    }    
    &__items {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        @media (max-width: $small) {
            margin-top: 50px;          
        }
        
        form {
            margin: 20px;
            h3 {
                color: #282528;                
                font-size: 24px;
                font-weight: 400;
                line-height: 24px;
                margin-bottom: 57px;
                @media (max-width: $small) {
                    margin-bottom: 20px;
                }
            }
            input {
                display: block;
                width: 760px;
                border: none;
                border-bottom: 1px solid #cccccc;
                padding: 20px 0;                
                @media (max-width: $xlarge) {
                    width: 50vw;
                }
            }
            input[type=submit] {
                color: $secondary-color;
                width: 170px;
                height: 40px;
                line-height: 40px;
                background-color: #ea6751;
                padding: 0;
                margin-top: 20px;
                @media (max-width: $small) {
                    margin: 20px auto;
                }
            }
        }
        &__icons {
            margin: 20px;
            @media (max-width: $small) {
                margin-top: 20px;
            }
            &__icon {
                width: 170px;
                height: 46px;
                background-color: red;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 2px;
                @media (max-width: $small) {
                    width: 50vw;
                }
                &--1 {
                    background-color: #0e9ef9;
                }
                &--2 {
                    background-color: #51d7fd;
                }
                &--3 {
                    background-color: #fa4e9b;
                }
                &--4 {
                    background-color: #2a63ab;
                }
                &--5 {
                    background-color: #f13131;
                }
            }
        }
    }
}
