.br-on-mobile {
    @media (max-width: $small) {
        display: block;
    }
}

.header {
    color: #1a2733;
    height: 824px;
    text-transform: uppercase;
    background-image: url("/img/header-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;       
    @media (max-width: $large) {
        box-sizing: border-box;
        width: 100vw;
        height: 100vh;
        padding-top: 90px;
    }
    h1 {             
        font-size: 60px;
        font-weight: 700;        
        letter-spacing: 9.58px;        
        padding-top: 365px;       
        @media (max-width: $large) {
            padding-top: 50px;
            letter-spacing: 3px;
        }
    }
    h2 {               
        font-size: 36px;
        font-weight: 400;        
        letter-spacing: 5.75px;        
        padding-top: 34px;        
        @media (max-width: $large) {
            font-size: 30px;
            padding-top: 74px;
        }
    }
    p {              
        font-size: 15px;
        font-weight: 400;
        line-height: 29px;        
        letter-spacing: 0.9px;
        margin: 0 auto;        
        padding-top: 61px;        
        @media (max-width: $large) {
            padding: 35px 25px;           
        }
    }
    &__arrow {        
        padding-top: 80px;
    }
    @media (max-width: $large) {
            padding-top: 170px;
        }
}
