.our-work {
    padding-top: 80px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    height: 600px;   
    background-color: $secondary-color;
    @media (max-width: $small) {
        height: 550px;
        padding: 20px 0;
    }     
    &__slider {
        margin: 50px auto;
        img {
            width: 90%;
            margin: 0 auto;
        }
    }
}