.we-are {
    height: 830px;
    background-color: #f6f6f6;
    @media (max-width: $small) {
        height: 1900px;
    }
    @media (min-width: $small) and (max-width: $extra) {
        height: 2000px;
    }
    @media (min-width: $extra) and (max-width: $xlarge) {
        height: 1050px;
    } 
    &__workers {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 59px;        
        flex-wrap: wrap;
        @media (max-width: $small) {            
            text-align: center;
        }        
        &__item {
            flex-shrink: 0;
            margin-left: 39px;
            @media (max-width: $small) {
                margin: 30px;
            }
            @media (min-width: $small) and (max-width: $extra) {
                margin: 35px;
            }

            img {
                width: 100%;
                height: 100%;
            }
            &__info {
                color: #282528;   
                text-align: left;
                @media (max-width: $small) {
                        text-align: center;
                    }
                &__name {                                    
                    font-size: 18px;
                    font-weight: 700;                    
                    margin-top: 21px;                    
                }
                &__position {
                    font-size: 14px;
                    font-weight: 300;                    
                    margin-top: 8px;
                }
            }
        }
    }
}
