.what-we-do {
    background-color: $secondary-color;    
    padding-top: 30px;
    @media (max-width: $small) {
        height: 1340px;
    }
    &__activities {
        display: flex;
        justify-content: center;
        align-items: space-around;
        margin-top: 66px;
        @media (max-width: $large) {
            flex-wrap: wrap;
        }
        &__item {
            padding: 0 30px;
            @media (max-width: $large) {
                flex-basis: 100%;
                margin-bottom: 50px;
            }
            &__title {
                font-size: 18px;
                font-weight: 700;
                letter-spacing: 2.25px;
                padding-top: 20px;
            }
            &__text {
                padding-top: 20px;
            }
        }
    }
}